.header .back-btn {
    margin-left: -22px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
    margin-left: 15px;
    margin-right: 20px;
}

.header__column .header__title {
    font-size: 25px;
    font-weight: 700;
}

.header .header__column i {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}