@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "setting.css";
@import "chatting.css";
* {
    box-sizing: border-box;
}

body {
    background-color: #25292D;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FCFCFC;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    margin-bottom: 90px;
}

.header,
.main,
.nav-bar {
    animation: ani 1s ease-in-out forwards;
}

@keyframes ani {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}